.cmdkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgba(var(--callout-rgb));
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.cmdkContainer section {
  width: 100%;
  padding: 1rem;
  overflow: auto;
  transition: height 0.3s ease-in-out;
  max-height: 55vh;
}

.cmdkContainer section::-webkit-scrollbar {
  width: 6px;
}
 
.cmdkContainer section::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-rgb), 0.2);
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.3);
  width: 100%;
  padding: 1rem;
}

.searchContainer::-webkit-scrollbar {
  display: none;
}

.searchContainer > input {
  flex: 1;
  font-size: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 55vh;
  transition: max-height 1s ease-in-out;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: rgba(var(--callout-rgb), 0.5);
  cursor: pointer;
  gap: 1rem;
  box-sizing: border-box;
  color: rgba(var(--foreground-rgb), 0.5);
}

.itemChild {
  padding: 0rem;
  padding-right: 1rem;
}

.itemSelected {
  background-color: rgba(var(--foreground-rgb), 0.2);
  color: rgba(var(--foreground-rgb));
}

.itemTitle {
  flex: 1;
}

.itemTitle > b {
  font-weight: inherit;
  color: rgba(var(--foreground-rgb));
  text-decoration: underline;
}

.itemType {
  text-transform: capitalize;
}

.lines {
  display: flex;
  align-items: stretch;
}

.line {
  width: 1px;
  margin-left: 1.5rem;
  height: 52px;
  background-color: rgba(var(--foreground-rgb), 0.5);
}